@{
    ViewBag.Title = "Cum dai de mine";
    ViewBag.Message = "Datele firmei";

}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />

<address>
    <strong>Entitate:</strong> Ciocan SRL<br />
    <strong>Adresa:</strong> Strada Nicolina, FN, Iasi, Romania<br />
    <strong>Telefon: </strong> 0757 611 338
</address>

<address>
    <strong>Email:</strong> <a href="mailto:ciocanrobertvasileg@yahoo.com">Ciocan@SRL.com</a>
</address>